@import url('https://fonts.googleapis.com/css2?family=Red+Rose:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Sora:wght@600&display=swap');

body {
  margin: 0;
  font-family: 'Red Rose', cursive !important;
  overflow-x: hidden;
}
.redirect{
  box-sizing: border-box;

/* Auto layout */

display: flex;
flex-direction: row;
align-items: center;
padding: 12px 20px;
max-width: 470px;
height: 68px;
/* DTC Light Gray (BG) */
background: #F8F9FA;
/* DTC Mid Gray */
border: 1px solid #CFD8DC;
border-radius: 12px;
}
.btn-purple{
  background: #a02279 !important;
  border: #a02279 !important;
}
.bg-purple{
  background: #a02279 !important;
}
.text-purple{
  color: #843FE8 !important;
}
.bg-menu{
  background: linear-gradient(91.47deg, #DC3E88 18.25%, #B840AE 43.34%, #843FE8 78.18%) !important;
}
.text-dark{
  font-size: 20px !important;color: #434343 !important;
  width: 125px;height: 25px;line-height: 25px;
}

  
 

  
  .hero-container{
    margin-bottom: 60px;
  }
  .hero-text>p{
    font-size: 22px;
  }
  .colo{
    color: #A02279;
}
input::placeholder{
    color: #B8B8B8;
    padding-left: 15px;
}
.search{
    border: 1px solid #B8B8B8;
    border-radius: 8px 0px 0px 8px;
    height: 45px;
    width: 60%;
}
.searchbtn{
    background-color: #A02279;
    border: none;
    border-radius: 0px 8px 8px 0px;
    height: 44px;
    width: 30%;
    color: #FFFFFF;
    
}

 
 .brands{
    background-color: #A02279;
    display: flex;
   
 }
 .brand{
    padding-top: 10px;
 }
  
  .adv{
    text-align: center;
    font-size: 48px;
    margin-top: 55px;
    margin-bottom: 55px;
    font-weight: 700;
    color: black;
  }
  .rowCont{
    margin: auto;
    width: 80%;
  }
  
  .cap{
    font-size: 12px;
  }
  
  .cont>div>img{
    height: 265px;
    width: 260px;
  }
  .cont{
    text-align: center;
    border: 1px solid #D7D7D7;
    border-radius: 15px;
    
    
  }
 
   
  .bottom{
    background-color: #A02279;
  }
  .bottomCont{
    margin: auto;
    width: 80%;
  }
  .nft-text{
    color: #FFFFFF;
  }
  .nft-text>h2{
    font-size: 48px;
    font-weight: 700;
  }
  .nft-text>p{
    font-size: 18px;
  }
  .bottom-btn{
    border: none;
    background-color: #FFFFFF;
    color: #A02279;
    border-radius: 8px;
    height: 48px;
    width: 40%;
  }
  
  .footer{
    background-color: #1D1D1E;
    color: #FFFFFF;
  }
  .footerCont{
    margin: auto;
    width: 80%;
  }
  .icons{
    gap: 40px;
  }
  .footer-links{
    padding-left: 100px;
    padding-top: 20px;
  }
  .footerLogo{
    padding-top: 20px;
  }
  .footer-links >a{
    text-decoration: none;
    color: #F1F3F9;
    font-size: 14px;
    font-weight: 400;
    margin-top: 15px;
  }
  .copyright{
    font-size: 16px;
    color: #F7F7F7;
    
  }
@media only screen and (min-width: 769px){
      
    .headerContainer{
        margin-bottom: 70px;
    
    
    }
    nav{
        display: flex;
        margin-top: 25px;
     
    }
    .logoDiv{
        flex: 1;
        margin-left: 50px;
       
    }
    .navLinks{
        flex: 2;
        display: flex;
        margin-top: 10px;
        margin: auto;
        
    }
    .btn{
        flex: 1;
        text-align: right;
        margin-right: 50px;
    
        
    }

    .navLinks > a{
        flex: 1;
        color: #434343;
        text-decoration: none;
        text-align: center;
    }
    
    
    .hero-container{
        display: flex;
        gap: 100px;
    }
    .hero-container >div{
        flex: 1;
    }

    .hero-text>h1{
        margin-bottom: 30px;
    }
    .hero-text>p{
        margin-bottom: 30px;
    }
  

    .hero-img{
        margin-right: -40px;
    }
    .hero-img >img{
        height: 300px;
        width: 80%;
        
    }

    
    
    
    .brand{
        width: 33.3%;
        text-align: center;
        height: 70px;
    }
}
@media only screen and (max-width: 768px){
    .headerContainer{
        margin-bottom: 40px;
    
    
    }
    nav{
        width: 100vw
        
    }
    .logoDiv{
        width: 30%;
        margin-top: 12px;
    }
    .logoDiv>img{
       width: 100%;
       
    }
    .navLinks{
        width: 60%;
        display: flex;
        
        margin: auto;
        
    }
    .btn{
        width: 20%;
    
        
    }
    .hero-container{
        display: flex;
        flex-direction: column;
        gap: 30px;
    }
    .hero-img{
        margin: auto;
    }
    
    .brands{
        flex-direction: column;
    }
    .brand{
        padding-top: 30px;
        width: 100%;
        text-align: center;
        height: 100px;
    }

    .footerLogo{
        margin-bottom: 50px;
    }
    .footer-links{
        margin-left: -50px;
        margin-top: 30px;
    }
   
}
@media only screen and (max-width: 600px){
    nav{
        flex-direction: column;
        
    }
    .logoDiv{
        margin-left: 10px;
        margin-bottom:20px ;
    }
    .navLinks{
        width: 100%;
        display: flex;
        
        margin: auto;
        margin-bottom:20px ;
        padding-right: 5px;
        padding-left: 5px;
        
    }
    .btn{
        margin: auto;
        width: 100%;

    }
    .btn>button{
        margin: auto;
        width: 70%;
    }
    .hero-img >img{
        margin: auto;
        width: 90%;
        
    }
}